.sidebar .author__content a {
  color: $text-color;
  text-decoration: none;
}

.archive p a {
  color: #52adc8;
}

.feature__item {
  text-align: center;

  img {
    max-width: 200px;
  }
}
article.page {
  p, li, dl {
    font-size: 1.2em;
  }
}
p, li, dl {
  font-size: 1.2em;
}
.expandcontract {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.homepagevid {
  padding-bottom: 1em;
}

a.subscribe {
  background: rgb(29, 29, 29) none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin-left: -10px;
  border-radius: 3px;
}

.subscribe i.fa {
  color: #fff;
}
