---
layout: archive
author_profile: true
feature_row:
  - image_path: mentorimpactcover.png
    alt:
    title: "Mentor Impact"
    excerpt: "How mentors truly change startups."
    url: "http://mentorimpact.co"
    btn_label: "Read It"
    btn_class: "btn--inverse"
  - image_path: decisionhackscover.png
    alt:
    title: "Decision Hacks"
    excerpt: "How startup founders make good decisions fast."
    url: "http://decisionhacks.co"
    btn_label: "Sign Up"
    btn_class: "btn--inverse"
  - image_path: acceleratordesignguidecover.png
    alt: "Accelerator Design Guide cover showing a computer at a desk"
    title: "The Accelerator Design Guide"
    excerpt: "Make your accelerator accelerate."
    url: http://guides.co/g/the-accelerator-design-guide/
    btn_label: "Read It"
    btn_class: "btn--inverse"
---

{% include base_path %}
{% if paginator.page == 1 %}


<div class="homepagevid">
<div class="expandcontract">
<iframe src="https://player.vimeo.com/video/178902763?autoplay=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>

<p><strong>Imagine a world where you could learn anything from anyone alive.</strong>

<p>Salim is an entrepreneur, educator and writer. He is the founder of <a href="http://source.institute">Source Institute</a> which develops peer-to-peer education - methods that help people learn what's relevant in fast-changing contexts. Source's programmes include: <a href="http://leancamp.co/">Leancamp</a>, <a href="http://villageaccelerator.org">Village Accelerator</a>, <a href="http://africaprize.co">The Africa Prize</a> and <a href="http://thesources.co">The Sources</a>, spanning African tech, entrepreneurship in economically-isolated communities and Lean Startup. 

<p>Salim started building companies as a teenager in Canada, later a few IT service providers, an ecommerce startup, then an international marketing agency. By age 24, he was in London, where he started <a href="http://leancamp.net">Leancamp</a>, a knowledge-sharing community which has grown to 30 cities on 4 continents, and <a href="http://foundercentric.com">Founder Centric</a>, a boutique workshop design agency for Europe's top accelerators and universites.  

<p>Salim has designed startup education programmes for world-class organisations like Seedcamp and The Royal Academy Of Engineering, and for 3 of the world's top 10 universities.

<h3 class="archive__subtitle">Books</h3>
{% include feature_row %}


{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
