---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title"><em>{{ site.data.tags[page.tag].name }}</em> Posts</h1>
    {% include base_path %}
    {% for post in site.tags[page.tag] %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>
